{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="content-area-wrap">
	{{> mobile-header}}
	<!-- start main content -->
	<div class="container-fluid main-content-wrap">
		<div class="row">
			{{#post}}
			<div class="col-md-8 single-post-wrap">
				<article id="{{id}}" class="{{post_class}} single-post-full" style="min-height: 823px; min-width: 743px;">
					<div class="post-content-wrap">
						{{#if image}}
						<div class="featured-media">
							<img src="{{image}}" alt="{{{title}}}">
						</div>
						{{/if}}
						<div class="post-content-full">
							{{content}}
						</div>
            <p>
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdoomLw6yg4cHwU-34C8qvVArggxmhh77WuVTm1dtVtfdrfQg/viewform?embedded=true" width="640" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </p>
					</div>
				</article>
			</div>
			{{/post}}
		</div>
	</div>
	<!-- end main content -->
</div>
