{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="content-area-wrap">
	{{> mobile-header}}
	<!-- start main content -->
	<div class="container-fluid main-content-wrap">
		<div class="row">
			{{#post}}
			<div class="col-md-8 single-post-wrap">
				<article id="{{id}}" class="{{post_class}} single-post-full">
					<div class="post-content-wrap">
						<header class="post-header">
								<div class="post-meta">
									<span class="post-date">{{date format="MMMM DD, YYYY"}}</span>
									{{#author}}
									 / <span class="post-author-name"><a href="{{url}}">{{name}}</a></span>
									{{/author}}
								</div>
								<h2 class="post-title">{{title}}</h2>
						</header>
						{{#if image}}
						<div class="featured-media">
							<img src="{{image}}" alt="{{{title}}}">
						</div>
						{{/if}}
						<div class="post-content-full">
							{{content}}
						</div>
					</div>
				</article>
				{{#if tags}}
				<div class="tag-wrap">
					<div class="tag-wrap-inner">
						{{tags separator=","}}
					</div>
				</div>
				{{/if}}
				{{> share-link}}
				<div class="author-comment-wrap">
					{{> about-author}}
					{{> prev-next}}
					{{> comment}}
				</div>
			</div>
			{{/post}}
			{{> sidebar}}
		</div>
	</div>
	<!-- end main content -->
</div>