<!-- start footer -->
<footer class="main-footer">
	<div class="container-fluid">
		<div class="row">
			{{> social-link}}
			{{> copyright}}
		</div>
	</div>
</footer>
<a href="#" id="back-to-top">
	<i class="fa fa-long-arrow-up"></i>
	<span>top</span>
</a>
{{ghost_foot}}
<!-- end footer -->
<script src="{{asset "js/bootstrap.min.js"}}"></script>
<script src="{{asset "js/jquery.fitvids.js"}}"></script>
<script src="{{asset "js/highlight.pack.js"}}"></script>
<script src="{{asset "js/main.js"}}"></script>
</body>
</html>