<!-- start main header -->
<div class="header-wrap hidden-xs {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}} no-cover{{/if}}">
	<header class="main-header">
		<div class="logo">
			{{#if @blog.logo}}
			<a class="image-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
			{{else}}
      <a href="{{@blog.url}}">
        静扇</br>
        ペン字</br>
        書道</br>
        教室</br>
      </a>
			{{/if}}
		</div>
		<!-- start navigation -->
		<nav class="main-navigation">
            <ul class="menu">
            	{{navigation}}
			</ul>
		</nav>
		<!-- end navigation -->
		{{#if @blog.description}}
    <div class="description">
      最近いつ手紙を書きましたか？</br>
      </br>
      何度も読み返せる手紙こそが大切な人を想いながら書く貴重な時間なのです。
    </div>
		{{/if}}
	</header>
</div>
<!-- end main header -->
